numpy==1.23.5
pillow==11.2.1
six==1.16.0
opencv-python==4.7.0.72
tensorflow==2.10.0
imageio==2.33.1
moviepy==1.0.3
yacs==0.1.8
tqdm==4.67.1
vizer==0.1.5
setuptools==80.8.0
pyyaml==6.0
ultralytics==8.3.143
pandas==2.0.0
seaborn==0.12.2
scipy==1.10.1
typing==3.7.4.3
requests==2.32.3
psutil==5.9.0
thop==0.1.1-2209072238
beautifulsoup4==4.13.4
pycocotools==2.0.7
albumentations==1.3.1
scikit-image==0.22.0
cityscapesscripts==2.2.2
onnx==1.12.0
pycuda==2024.1
scikit-learn==1.2.2
threadpoolctl==2.2.0
filelock==3.11.0
tabulate==0.9.0
regex==2023.12.25
mmengine==0.10.3
mmdet==3.3.0
rich==13.4.2
fairscale==0.4.13
addict==2.4.0
imagecorruptions==1.1.2
terminaltables==3.1.10
shapely==2.0.3
emoji==2.10.1
openpyxl==3.1.2
networkx==3.1
gitpython==3.1.44
gitdb==4.0.12
smmap==5.0.2